table{
    Border-collapse:collapse;
width: 100%;
}
th,td{
    border: 3px solid;
width: 200px;
height: 60px;
text-align: center;
vertical-align: top;

}

td {
    border: 3px solid;
width: 200px;
height: 60px;
text-align: center;
vertical-align: top;
}

body{ background-color: #56e3dd
}
img {
   width: 100px;
   height: 100px;
